



.team_flag_img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.game_team {
    height: 100%;
    width: 15%;
    font-size: 100%;
}

.game_score_date {
    height: 100%;
    width: 25%;
    text-align:center;
    position: relative;
}


.game_score {
    height: 50%;
    width: 100%;
    text-align:center;
    position: relative;
}

.game_date {
    height: 50%;
    width: 100%;
    text-align:center;
    position: relative;
}


#game_prediction_table {
    text-align: center;
    width: 96%;
    margin: 2%;
    color:white;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}