@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6/*  */, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  }

/* body{
  background-color: #972a29;
} */

body{
  background-color: #272822;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #272822;
}

#header_table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

#header_row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.header_td {
  position: absolute;
  height: 100%;
}


#profile_picture {
  position: fixed;
  width: 80px;
  height: 80px;
	padding: 0px 0px;
  box-sizing: border-box;
  top:0;
  left:0;
}

#profile_picture_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#user_name_div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 125%;
}

#banner {
  position: fixed;
  top: 105px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 60px;
  width: 100%;
  height: calc(100% - 185px);
  overflow: auto;
}

.flexcroll::-webkit-scrollbar {
  width: 15px;
  margin: 5px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(108, 113, 117);
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); */
}

.flexcroll::-webkit-scrollbar-corner {
  background-color: rgba(0,0,0,0)
}

#container{
  text-align:center;
  height: 60px;
}

.footer_img_container{
  display:inline-block;
  margin:5px 15px;
  padding:5px;
  width: 40px;
  height: 40px;
}

.footer_img{
  display:inline-block;
  margin:0;
  padding:0px;
  width: 40px;
  height: 100%;
  object-fit: contain;
}

#landing_logo_wrapper{
  position:fixed;
  width: 100%;
  height: 30%;
  padding-bottom: 10%;
  left:0%;
  top:15%;
}

#landing_logo{
  display:block;
  margin:auto;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#google{
  position: fixed;
  top: 60%;
  width: 100%;
  text-align: center
}


#my-signin2{
  display: inline-block;
}



@import "compass/css3";

*{margin:0;padding:0;}
#swish{
    height:50%;
    width:50%;
    margin:0 auto;
    background: white;
    color:black;
    padding:10px;
    position:absolute;
    top:20%;
    left:25%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


#mask{ /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}
/* use :target to look for a link to the overlay then we find our mask */
#swish:target, #swish:target + #mask, #rules:target, #rules:target + #mask{
    display:block;
    opacity:1;
}
.close_overlay{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:0px;
    right:0px;
    background:white;
    color:#A6E22E;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}

/* Footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  border: 0;
  background-color: #272822;
  }

#footer a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/* #footer a:active, #footer a:focus, #footer a:hover {
} */