#leaderboard_title {
    height: 5%;
    font-size: 150%;
    color:white;
    font-weight: bold;
    width: 96%;
    text-align: center;
    margin: 2%;

}

#leaderboard_table{
    text-align: center;
    width: 96%;
    margin: 2%;
    color:white;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

td {
    border-bottom:2px solid transparent;
    border-top:2px solid transparent;
    vertical-align: middle;
    display: table-cell;
    height: 5%;
    margin: 0;
}

td:first-child{
    border-left:2px solid transparent;
    -moz-border-radius:20px 0 0 20px;
    -webkit-border-radius:20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}
td:last-child{
    border-right:2px solid transparent;
    -moz-border-radius:0 20px 20px 0;
    -webkit-border-radius:0 20px 20px 0;
    border-radius: 0 20px 20px 0;
}

.user_row {
    border:2px solid transparent;
    -moz-border-radius:20px 0 0 20px;
    -webkit-border-radius:20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    background-color: black;
    font-weight: bold;
}


.user_profile_picture_img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.user_pos {
    width: 5%;
}

.user_name {
    width: 20%;
}

.user_pointsr:not(.label_th) {
    background-color: black;
    color: white;
}

.label_th {
    background-color: transparent;
}

.header_label {
    font-weight: white;
    margin: 1% 2% 1% 2%;
    color: white;
}

.user_row:hover:not(.label_th) td{
    border-color: white;
}