.guess_input {
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border-color: rgb(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    border-style:solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.home_team_guess {
    width: 5%;
}

.away_team_guess {
    width: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

.game_finished_checkbox {
    width: 4%;
}

.checkbox {
    width: 50%;
    height: 50%;
    color: white;
}

.group_table_div {
    margin: 1% 2% 1% 2%;
    width: 96%;
    display: flex;
}

.group_table{
    text-align: center;
    width: 48%;
    margin: 1%;
    color: white;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.table_td {
    width: 5%;
    height: 50px;
}

.team_table_flag_img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.group_header_title {
    width: 100%;
}

.group_table_row {
    background-color: black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.team_td {
    background-color: transparent;
}

.group_header {
    font-weight: bold;
    background-color: transparent;
}

.prediction_result_exact_score td{
    border-color: #A6E22E;
}

.prediction_result_right_result td{
    border-color: #89BDFF;
}

.prediction_result_one_right_score td{
    border-color: #E6DB74;
}

.prediction_result_fail td{
    border-color: #8B0000;
}


