.stage_div {
    height: 5%;
    bottom: 1%;
    font-size: 150%;
    color:white;
}

.stage_div {
    height: 5%;
    margin: 1% 2% 1% 2%;
    width: 96%;
    font-weight: bold;
}

.textBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.groups {
    position: fixed;
    top: 80px;
    left: 0;
    /* margin: 2%;
    margin-top: 5%; */
    background-color:rgba(0, 0, 0, 0);
    /* background-color: #972a29; */
    height: 25px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.group {
    position: relative;
    width: 12.5%;
    font-weight: bold;
}

.group_link {
    width: 100%;
    height: 100%;
}

.game_table {
    width: 96%;
    margin: 1% 2% 1% 2%;
    color:white;
    font-weight: bold;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

.game_row {
    background-color: #474748;
    color: white;
    width: 96%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

td {
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    height: 80px;
}

.game_number:first-child{
    -moz-border-radius:20px 0 0 20px;
    -webkit-border-radius:20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}
.game_number:last-child{
    -moz-border-radius:0 20px 20px 0;
    -webkit-border-radius:0 20px 20px 0;
    border-radius: 0 20px 20px 0;
}


.game_number {
    width: 5%;
    text-align: center;
    font-weight: bold;
}

.team_flag {
    width: 5%;
}


.team_flag_img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.game_team {
    width: 15%;
}

.stadium {
    width: 15%;
}


.game_date_score {
    width: 15%;
}

.group_A{
    color: white;
    background-color: #1C8564;
}

.group_B{
    color: white;
    background-color: #34275C;
}

.group_C{
    color: white;
    background-color: #B7315F;
}

.group_D{
    color: white;
    background-color: #DF6E43;
}

.group_E{
    color: white;
    background-color: #BE3E3D;
}

.group_F{
    color: white;
    background-color: #252C36;
}

.group_G{
    color: white;
    background-color: #674640;
}

.group_H{
    color: white;
    background-color: #12426C;
}

.game_link:link {
    text-decoration: none;
}

.game_link:visited {
    text-decoration: none;
}

.game_link:hover, .group_link:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}


a {
    text-decoration: none;
    color: inherit;
}

.game_link:active {
    text-decoration: none;
}

.game_number:first-child:hover{
    text-decoration: none;
    background-color: white;
    color: black;
}

.padding {
    padding-bottom: 5%;
}


@media only screen and (max-device-width : 640px) {

}