<div class="inner">
    <ul class="icons">
        <li><a href="https://github.com/pedrotari7" target="_blank" class="icon fa-github">
            <span class="label">Github</span>
        </a></li>
        <li><a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-alvito-5b73b46a" target="_blank" class="icon fa-linkedin">
            <span class="label">LinkedIn</span>
        </a></li>
        <li><a href="#swish" class="icon fa-gift">
            <span class="label">Swish</span>
        </a></li>
    </ul>
</div>